{
  "extends": [
    "unobtrusive",
    "unobtrusive/import",
    "unobtrusive/react",
    "unobtrusive/flowtype"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  }
}
